@charset "utf-8";



/* main css */

html, body {width:100%; height:100%;}

.right_quick {width:266px; position:fixed; height:100%; background:#fff; z-index:999; padding:20px; border-left:1px solid #ddd;}

.top_navigation {height:45px; border-bottom:1px solid #e1e1e1; background:#FaFaFa;}
.header {width:1100px; margin:0 auto; }
.header .top_left > ul > li  {float:left;height:45px; line-height:45px;border-right:1px solid #e1e1e1;}
.header .top_right > ul > li  {float:left;height:45px; line-height:45px;border-right:1px solid #e1e1e1;}

.header .top_left > ul > li.first,
.header .top_right > ul > li.first {border-left:1px solid #e1e1e1;}

.header .top_left {float:left;}
.header .top_left ul li {width:110px; text-align:center;}
.header .top_right {float:right;}
.header .top_right ul li {width:120px; text-align:center;}
.header nav ul li a {display:block;}

.moon_group {clear:both;}
.moon_group:after {content:""; display:block; clear:both;}
.moon_group .logo {float:left; font-size:22px; color:#000; padding-top:18px;}
.moon_group .moon {float:right;}
.moon_group .moon > ul.nav_1depth > li {float:left;border:0 none; height:84px; line-height:84px; position:relative; width:160px;}
.moon_group .moon > ul.nav_1depth > li.active  {background:#F78181;}
.moon_group .moon > ul.nav_1depth > li.active > a {color:#fff;}

.moon_group .moon > ul.nav_1depth > li > a {padding: 0px 26px;}
.moon_group .moon > ul.nav_1depth > li > ul.nav_2depth {z-index:9999; position:absolute; left:0; top:84px; border:1px solid #ddd; background:#fff; width:100%; display:none;}
.moon_group .moon > ul.nav_1depth > li > ul.nav_2depth >  li {height:40px; line-height:40px; border-bottom:1px solid #ddd; padding-left:5px;}



.line {border-bottom:1px solid #e1e1e1; clear:both; /* background:#e1e1e1; height:1px; */}




/* notice css */

.search_wrap {margin-top:100px;}
.record_group {float:left;}
.search_group {float:right;}
.record_group span {color:#007dc6;}
.search_group .select {height:44px; border:1px solid #e0e0e0; padding:5px;}
.search_group .search_word {height:44px; border:1px solid #e0e0e0; padding:5px; width:220px;}
.search_group .btn_search {height:44px; padding:5px 15px; border:1px solid #e0e0e0; background:transparent; /*투명하게*/ font-size:16px;vertical-align:bottom;}

.board_list {clear:both; padding-top:40px;}
.board_table {width:100%;}
.board_list th {border-top:1px solid #333;border-bottom:1px solid #333; padding:15px 5px;}
.board_table td {border-bottom:1px solid #e0e0e0; padding:15px 5px; text-align:center;}
.board_table td.title {text-align:left;}

.paging {clear:both; padding-top:50px; text-align:center;}
.paging a  {padding:10px; border:1px solid #e0e0e0;}
.paging a.active {background:#007dc6; color:#fff;}
.paging .btn_write {background:#F78181; padding:10px 16px; color:#fff; float:right;}

.write_wrap {margin-top:100px;}
.write_wrap th,.write_wrap td {padding:10px;border-bottom:1px solid #ddd;}
.write_wrap th {background:#f7f8fc;}
.write_wrap .first th,.write_wrap .first td {border-top:1px solid #333;}
.write_wrap td {text-align:left;}
.write_wrap input,.write_wrap textarea {border:1px solid #dcdcdc; height:33px; width:100%;}
.write_wrap textarea {height:270px;}
.write_wrap .btn_wrap {padding-top:30px; text-align:center;}
.write_wrap .btn_wrap .btn_ok {width:60px; background:#007dc6; border:0 none; color:#fff;}
.write_wrap .btn_wrap .btn_reset {width:70px;background:#F78181; border:0 none; color:#fff;}
.write_wrap .btn_wrap .btn_list {width:70px;background:#F78181; border:0 none; color:#fff;}

.board_view {margin-top:100px;}
.board_view h2 {margin-bottom:16px; font-size:32px; letter-spacing:-1px; text-align:center;}
.board_view .info {font-size:18px; text-align:center;}
.board_view .info .user {color:#007dc6;}
.board_body {padding:70px 120px; border-top:1px solid #ddd; border-bottom:1px solid #ddd; margin-top:35px; clear:both;}
.board_pds {padding:20px 120px; border-top:1px solid #ddd;  margin-top:35px; }
.board_body p {margin-bottom:20px;}
.prev_next {padding-top:50px; height:67px; position:relative; clear:both; border-top: 1px solid #ddd;}
.prev_next .btn_prev {text-align:left; width:30%; display:inline-block; position:absolute; left:0; }
.prev_next .btn_next {text-align:right; width:30%;display:inline-block; position:absolute; right:0;}
.prev_next .btn_3wrap {position:absolute; left:50%;transform:translate(-50%,0); /* scale(크기),skew(기울이기),rotate(회전),teanslate(이동) */ }
.prev_next i {width:56px; height:56px; line-height:56px; border:1px solid #ddd; font-size:22px; text-align:center;}
.prev_next .prev_wrap, .prev_next .next_wrap {padding:5px 15px 0; display:inline-block;  height:56px;}
.prev_next .prev_wrap span, .prev_next .next_wrap span {display:block;}
.btn_3wrap a {padding:12px 18px; display:inline-block; border:1px solid #878787;}

.complet {background:#8893ab; color:#fff;padding:5px 8px;}
.waiting {background:#0489B1; color:#fff;padding:5px 8px;}



/* login css */

.member_boxL {
    position: relative;
    padding: 40px;
    width: 494px;
    height: 326px;
    border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
    border-top: 2px solid #39f;
	margin:100px auto 0 auto;
}
.member_wrap h2 {
    font-size: 24px;
    color: #333;
    font-family: 'NGothic';
}
.login_form {
    position: absolute;
    top: 105px;
    left: 40px;
}
.login_form .fl_clear {
    margin: 0 0 4px;
}
.login_form label {
    display: inline-block;
    width: 85px;
    color: #333;
    font-family: 'NGothicB';
}
.login_form input {
    border: 0;
    height: 40px;
    width: 220px;
    background: #ececec;
}
.login_form .fl_clear {
    margin: 0 0 4px;
}
.login_form label {
    display: inline-block;
    width: 85px;
    color: #333;
    font-family: 'NGothicB';
}
.login_form input {
    border: 0;
    height: 40px;
    width: 220px;
    background: #ececec;
}
.login_form .btn_login {
    position: absolute;
    top: 0;
    right: -108px;
    display: block;
    width: 98px;
    height: 84px;
    line-height: 84px;
    text-align: center;
    font-size: 18px;
	background: #3399ff !important;
	color: #fff !important;
}

/* member css */

.con_title {
    padding: 0 0 40px 0;
    margin: 0 0 0 0;
    text-align: center;
	margin-top:100px;
}
.con_title h1 {
    padding: 0px 0px 15px 0px;
    font-size: 42px;
    color: #333;
}
.con_title p {
    display: inline-block;
    padding: 10px 40px;
    font-size: 14px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.col_989 {
    float: none;
    clear: both;
    width: 989Px;
    margin: 0 auto;
    margin-top: 0px;
}
.join_write {
    padding: 10px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.list_con ul {
    padding: 7px 0;
}
.table_write02 {
    width: 100%;
}
.table_write02 th {
    color: #333;
    text-align: left;
    font-family: 'NGothic';
}
.table_write02 th, .table_write02 td {
    padding: 10px 0;
}
input.w300 {
    width: 295px;
    padding-left: 5px !important;
}
table caption, legend, .blind {
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    top: -999999px;
    text-indent: -9999px;
}
input[disabled], input[readonly] {
    background: #f7f7f7;
    color: #666;
}
input[type="text"], input[type="password"], input[type="search"], input[type="button"], input[type="tel"], input[type="date"], input[type="email"], select {
    padding: 0 5px;
        padding-left: 5px;
    height: 36px;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: #fff;
    font-size: 15px;
    font-family: 'NGothic', "굴림", "굴림체", "돋음", Arial, sans-serif;
}
.w300 {
    width: 300px !important;
}
select {
    vertical-align: middle;
    font-size: inherit;
    box-sizing: border-box;
    padding: 0 25px 0 5px;
    background: #fff url(../images/arr_down.png) no-repeat right 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-shadow: none;
}
.table_write02 .guideTxt {
    display: inline-block;
    padding: 0 0 0 14px;
    margin: 0 0 0 10px;
    font-size: 14px;
    background: url(/web/img/common/bullet_con04.png) no-repeat 0 6px;
}

.btnArea.Acenter {
    text-align: center;
}
.pb100 {
    padding-bottom: 100px !important;
}
.pt60 {
    padding-top: 60px !important;
}
.btnArea.Acenter a {
    margin-left: 2px;
    margin-right: 2px;
}
a:link {
    color: #666;
    text-decoration: none;
}
.w180 {
    width: 180px !important;
}
.btn_BlueGray {
    background: #8d9aaf !important;
    color: #fff !important;
}
.btn_large {
    height: 40px;
    line-height: 40px;
    font-size: 15px;
}
.btn_round {
    display: inline-block;
    padding: 0 20px;
    margin: 0 1px;
        margin-right: 1px;
        margin-left: 1px;
    border-radius: 50px;
    text-align: center;
    box-sizing: border-box;
}
.btn_pointColor {
    background: #090 !important;
    color: #fff !important;
}





/*reply*/
.board_view:after{
	content="";
	dispaly:block;
	clear:both;
}

.reply_body:after{
	content="";
	dispaly:block;
	clear:both;
}
.reply_body ul li {
	float:left;
}

.board_view  .reply_wrap h3{
	margin:20px 20px 0 20px;
}

.board_view  .reply_wrap .reply_left{

	width:100px;
	height:100px;
	padding: 20px 20px;
	clear:both;
}
.board_view  .reply_wrap .reply_left img{
	width:100%;
	object-fit:cover;
}

.board_view  .reply_wrap .reply_right{

	width:960px;
	padding:20px;
	clear:both;
}
.board_view  .reply_wrap .content input{
	width:100%;
	height:100px;

}

.board_view  .reply_wrap .content .btn_write{
    background: #F78181;
   	width:100px;
   	height:50px;
    margin: 10px 0;
    color: #fff;
    float: right;
}


 /* comment */
.cmt-container{
  width:1100px;
  margin:0 auto;
  margin-top: 70px;
  border-top: 1px solid black;
  padding-top: 30px;
}
.cmt-box{
   width: 900px;;
}
.cmt-area {
   resize: none;
   padding: 1rem 1rem 1.5rem;
   outline: none;
   border: 1px solid #c0c0c0;
   margin-bottom: 1.5rem;
   width: 870px;
   border-radius: 4px;
   min-height: 6.125rem;
   font-size: 1rem;
   color: rgb(33, 37, 41);
   line-height: 1.75;
   margin-top: 50px;
   float:left;
}
.cmt-buttons{
  width: 200px;
  height: 100px;
  float:right;
}
.cmt-insert{
   background:#0080ff;
   padding: 38px 45px;
   color:#fff;
  position: relative;
  left: 40px;
  top: 50px;
}
.cmtList-box{
   clear:both;
   border-top: 1px solid #c0c0c0;
   width:1100px;
  margin:0 auto;
  margin-top: 200px;
  padding-top: 15px;
}
.cmt-icon {
   display: block;
   overflow: hidden;
   font-size: 0;
   line-height: 0;
   text-indent: -9999px;
}

.cmtList-box .thumb_profile {
   float: left;
   width: 48px;
   height: 48px;
   margin-right: 20px;
   border-radius: 48px;
   background-position: -140px -20px;
   margin-top: 2px;
}
.cmtWriter {
   float: left;
   overflow: hidden;
   max-width: 200px;
   margin-right: 10px;
   color: #222;
   white-space: nowrap;
   text-overflow: ellipsis;
   font-size: 16px;
}

.cmtDate {
   float: left;
   margin-top: 5px;
   font-size: 12px;
   color: #a7a7a7;
}

.cmtContent {
   display: block;
   padding-top: 4px;
  margin-left: 70px;
   font-size: 13px;
   line-height: 21px;
   color: #5c5c5c;
   clear: both;
}
.reply{
   border-bottom: 1px solid #c0c0c0;
   padding: 30px 80px;
}
.cmtCount{
   font-size:xx-large;
   color:#0496b5;
   font-weight: 700;
}




